<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск реки</title>
</head>
<body>
<div class="container">
    <h1>Поиск информации о реке</h1>
    <label for="river-name">Введите название реки:</label>
    <input type="text" id="river-name" name="river" required>
    <button onclick="searchRiver()">Найти</button>
</div>

<script>
    function searchRiver() {
        var riverName = document.getElementById("river-name").value;
        window.location.href = "/api/river/search/" + encodeURIComponent(riverName);
    }
</script>
</body>
</html>
