<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="RU">
<head>
    <meta charset="UTF-8">
    <title th:text="${river.get().label}">Подробная информация о реке</title>
</head>
<body>
<div class="container">
    <h1 th:text="${river.get().label}">Подробная информация о реке</h1>
    <p>Длина: <span th:text="${river.get().length}"></span></p>
    <p>Площадь водосбора: <span th:text="${river.get().watershedArea}"></span></p>
    <p>Страна: <span th:text="${river.get().country}"></span></p>
    <p>Изображение: <img th:src="${river.get().image}" alt="Изображение реки"></p>
    <p>Оригинал: <span th:each="origin : ${river.get().origin}" th:text="${origin}"></span></p>
    <p>Административная территория: <span th:each="territory : ${river.get().administrativeTerritorial}" th:text="${territory}"></span></p>
    <p>Притоки: <span th:each="tributary : ${river.get().tributaries}" th:text="${tributary}"></span></p>
    <p>Устье: <span th:each="mouth : ${river.get().mouth}" th:text="${mouth}"></span></p>
</div>
</body>
</html>
